

.fas {
    transition-duration: 200ms;
    transform: scale(1)
}

.fas:hover {
    transition-duration: 200ms;
    transform: scale(1.4)
}

tr td i.fas:nth-child(2) {
    margin-left: 15px;
}

tr td i.fas:nth-child(1) {
    margin-right: 15px;
}