
.notify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    z-index: 5000;
    position: absolute;
    right: 50px;
    top: 50px;
    text-align: center;
    color: white;
    background-color: rgba(46, 150, 89, 0.473);
    box-shadow: 5px 5px 5px 0px rgba(13, 44, 23, 0.342);
}
.notify_200 {
    background-color: rgba(46, 150, 89, 0.473);
}
.notify_400 {
    background-color: rgba(110, 87, 21, 0.473);
}
.notify_404 {
    background-color: rgba(148, 0, 0, 0.473);
}
.notify_500 {
    background-color: rgba(168, 0, 0, 0.473);
}
.list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.table {
    margin-top: 40px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.274);
    width: 100%;
}

table {
    min-width: 500px;
    width: auto;
    border-collapse: collapse;
    
}

.btn_container {
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.far {
    transform: scale(1);
    transition-duration: 200ms;
}
.far:hover {
    transition-duration: 200ms;
    transform: scale(1.3)
}
.btn_add span {
    margin-left: 10px;
}
td, th {
    text-align: left;
    padding: 15px;
    
}

thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}
tbody tr {
    transition-duration: 200ms;
}

tbody tr:hover {
    transition-duration: 200ms;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.315);
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
    text-align: center;
}