.modal_container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    transition-duration: 200ms;
    
}

.modal_edit_content {
    margin: auto;
    padding: 20px;
    width: 300px;
    height: 150px;
    background-color: white;
}

.button_container {
    display: flex;
    justify-content: space-around;

    margin: 30px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}
.modal_container_active {
    transform: scale(1);
    transition-duration: 200ms;
}